body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5em;
}

.cabecalho__menu__links { 
    color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25em;   
    line-height: 1.1;
    margin-bottom: 0.75em;
}  

.apresentacao__conteudo__titulo-extra {
    font-size: 1.5em;
    text-decoration: underline;
    margin: 1em 0;
}

.titulo-destaque {
    color: var(--cor-terciaria);
} 

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.25em;     
    text-align: justify;
    line-height: 1.4;
}

.apresentacao__conteudo__texto__curriculo {
    font-family: var(--fonte-secundaria);
    font-size: 1.25em;     
    line-height: 1.4;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5em;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5em;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding: 21.5px 0; 
    text-decoration: none;  
    color: var(--cor-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25em;
    font-weight: 400;

    /*position: fixed;
    bottom: 0;
    width: 100%;*/
}

.texto__destaque {
    font-weight: 1000;
    padding-bottom: 1em;
}

.cabecalho__menu__links:hover {
    color: var(--cor-secundaria);
}